@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
/* I. Phone Styles */
/* Overarching div styles */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: linear-gradient(
      hsla(217, 100%, 95%, 0.7),
      hsla(217, 100%, 95%, 0.7)
    ),
    url(https://cdn.pixabay.com/photo/2015/05/05/09/42/paper-753508_960_720.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}
main {
  padding: 2em 1em;
  /* background: hsla(217, 100%, 95%, 0.9); */
  width: 100%;
}
div#header {
  margin-bottom: 2em;
}

/* General font styles */
h1#title {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: hsl(217, 100%, 20%);
}
p,
ul,
label,
legend,
textarea,
input,
select,
option {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
}

/* Specific font styles */
p#note {
  font-style: italic;
  margin-bottom: 0.5em;
}
p#image-credit,
ul {
  font-size: 0.8em;
  font-style: italic;
}
ul {
  padding-left: 2em;
}

/* Form elements styling */
input,
select,
fieldset,
textarea {
  display: block;
  margin-bottom: 1.5em;
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  border-radius: 0.5em;
}
select,
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label,
input[type="submit"] {
  cursor: pointer;
}
input,
textarea,
fieldset {
  padding: 1em;
  box-sizing: border-box;
}
input,
select,
textarea {
  margin-top: 0.5em;
}
fieldset,
textarea {
  height: auto;
}
textarea {
  height: 10em;
}
select {
  padding-left: 1em;
}
label,
legend {
  font-size: 1rem;
  font-weight: 700;
}
.required::after {
  content: "*";
  display: inline;
  margin-left: 0.1em;
  color: rgb(151, 0, 0);
}
fieldset {
  border: 0.05em solid hsl(0, 0%, 50%);
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  border: none;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 0.1em hsl(217, 100%, 20%);
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 1em;
  margin: 0;
}
input[type="radio"],
input[type="checkbox"] {
  border: none;
  transition: filter 0.3s;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  filter: drop-shadow(0 0 0.2em hsl(217, 100%, 20%));
}

input[type="submit"] {
  display: block;
  position: relative;
  padding: 0;
  border: none;
  font-weight: bold;
  background-color: hsl(46, 100%, 50%);
  transition: all 0.3s;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  outline: none;
  background-color: hsl(46, 100%, 60%);
  box-shadow: 0 0.1em 0.15em hsl(0, 0%, 85%),
    inset 0 0 0 0.1em hsl(217, 100%, 20%);
  transform: translateY(-0.2em);
}
input[type="submit"]:active {
  outline: none;
  background-color: hsl(46, 100%, 45%);
  transform: translateY(0.07em);
}

/* Miscellaneous */
span.asterisks {
  font-weight: bold;
  font-style: normal;
  color: rgb(151, 0, 0);
}
.no-bold {
  font-weight: normal;
}
label.no-bold {
  margin-left: 1em;
}
span.radio-checkbox-group {
  display: flex;
  align-items: center;
  height: 3em;
}

/* II. Tablet Styles */
@media (min-width: 600px) {
  main {
    padding: 3em 2em;
    max-width: 40em;
  }
}

/* III. Desktop Styles */
@media (min-width: 1200px) {
  main {
    padding-top: 5em;
  }

  h1#title {
    font-size: 2.7rem;
  }
}
